body { background: #ba8592; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 58px; display: flex; }
.block-helper-0 { color: #ce72ca; font-size: 18px; margin-bottom: 5px; }
.block-product-1 { color: #67f117; font-size: 17px; margin-bottom: 5px; }
.block-uploader-2 { color: #7d9639; font-size: 15px; margin-bottom: 5px; }
.block-product-3 { color: #be060b; font-size: 16px; margin-bottom: 5px; }
.block-logger-4 { color: #66a11c; font-size: 16px; margin-bottom: 5px; }
.block-cluster-5 { color: #161f8d; font-size: 20px; margin-bottom: 5px; }
.block-token-6 { color: #1792ef; font-size: 16px; margin-bottom: 5px; }
.block-helper-7 { color: #12db; font-size: 15px; margin-bottom: 5px; }
.block-uploader-8 { color: #e86d98; font-size: 19px; margin-bottom: 5px; }
.block-search-9 { color: #c85113; font-size: 12px; margin-bottom: 5px; }
.block-auth-10 { color: #25e0a6; font-size: 17px; margin-bottom: 5px; }